<!-- partials/sidebar.html -->
<nav id="sidebar">
  <ul>
    <li><a href="index.html">Cooperación Estratégica de Seguridad Nacional</a></li>
    <li><a href="naturaleza.html">Naturaleza y Ámbito</a></li>
    <li><a href="fines.html">Fines</a></li>
    <li><a href="actividades.html">Actividades</a></li>
    <li><a href="colaboracion.html">Colaboración Nacional e Internacional</a></li>
    <li><a href="cooperacion.html">Cooperación Europea e Internacional</a></li>
    <li><a href="otan.html">Colaboración con la OTAN</a></li>
    <li><a href="respuesta.html">Unidad de Respuesta Rápida</a></li>
    <li><a href="comite.html">Comité Consultivo de Expertos</a></li>
    <li><a href="estructura.html">Estructura Organizativa</a></li>
    <li><a href="asamblea.html">Asamblea General</a></li>
    <li><a href="junta.html">Junta Directiva</a></li>
    <li><a href="miembros.html">Tipos de Miembros</a></li>
    <li><a href="derechos.html">Derechos de los Miembros</a></li>
    <li><a href="deberes.html">Deberes de los Miembros</a></li>
    <li><a href="economico.html">Régimen Económico</a></li>
    <li><a href="estatutos.html">Estatutos</a></li>
    <li><a href="disolucion.html">Disolución y Liquidación</a></li>
    <li><a href="contacto.html">Contacto y Ubicación</a></li>
  </ul>
</nav>
